<h3>Add Private Evente!</h3>
<form action="/addevent" method="POST">
    <input class="form-control" type="text" name="name" placeholder="Event Name"/>
    <input class="form-control" type="text" name="img" placeholder="Event URL Image"/>
    <input class="form-control" type="text" name="info" placeholder="Event Information"/>
    <input class="form-control" type="date" name="date"/>
    <button class="btn btn-light mb-3" type="submit">Create Event</button>
</form>