<h3>Edit Event</h3>

<form action="/editevent" method="POST">
    <input class="form-control" type="text" name="name" value="" placeholder="Event Name"/>
    <input class="form-control" type="text" name="img" value="" placeholder="Event URL Image"/>
    <input class="form-control" type="text" name="info" value="" placeholder="Event Information"/>
    <input class="form-control" type="date" value="" name="date"/>
    <button class="btn btn-light mb-3" type="submit">Edit Event</button>
</form>