<div id="form">
  <h2>SIGN UP</h2>
  <form action="/signup" method="POST">
 
    <label> Username
        <input type="text" name="username" placeholder="Username" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="********" />
    </label>

    <label> Favorite Artists
        <input type="text" name="favoriteArtist" placeholder="Favorite Artists" />
    </label>

    <label> Country
      <select id="country" name="country">
        {{#each country}}
          <option value="{{this.value}}">{{this.name}}</option>
        {{/each}}
      </select>
    </label>

    <label> Avatar
        <input type="file" name="avatar" placeholder="Favorite Artists" />
    </label>

    <button type="submit">SIGN UP</button>
 
    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
    
  </form>
</div>