body {
 background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364, #2C5364, #203A43, #0F2027) !important;
 padding: 0 !important;
 margin: 0 !important;
}
  
/*HOMEPAGE*/

#homepageImg {
  width:70%;
  margin-top: 15%;
  margin-left: 15%;
}

@keyframes slide-in-bck-center{
  0%{transform:translateZ(600px);opacity:0}100%{transform:translateZ(0);opacity:1}
}

.slide-in-bck-center{
  animation:slide-in-bck-center 3s cubic-bezier(.25,.46,.45,.94) both;
}

.btn:hover {
  color: #3b87a7;
}

/*ERROR*/
.error{
  color: white;
  font-size: 1em;
  margin-top: 5%;
  margin-left: 19%;
}

#divError{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hError{
  color: white;
  font-size: 3em;
}

#pError{
  color: white;
  font-size: 2em;
}


/*SING UP*/

#divSignUp {
  display: flex !important;
  justify-content: center !important;
  flex-direction: column;
}

#h2SU {
  color: white;
  margin-top: 3%;
  font-size: 50px;
  display: flex !important;
  justify-content: center !important;
}

#formSignUp {
  margin-top: 2%;
}

.form-label{
  color: white;
  font-size: 30px;
  line-height: 55px;
  font-weight: 600;
  margin: 2%;
}

.form-control{
  background-color: #0F2027;
  border-color: #0F2027;
  width: 50vw;;
  color: white;
  font-weight: 600;
  font-size: 1vw;
  margin: 2%;
}

.form-select{
  background-color: #0F2027;
  border-color: #0F2027;
  color: white;
  width: 50vw;
  margin: 2%;
}

#avatarDiv{
  margin-left: 6%;
}

#suFlex{
  justify-content: center;
}

#signupBtn{
  margin-top: 6%;
  margin-left: 45%;
  background-color: #0F2027;
  border-color: #0F2027;
  color: white;
}

/*LOGIN*/

#divLogIn{
  margin-top: 10%;
  display: flex !important;
  flex-direction: column;
}

#h2LI{
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 3%;
  font-size: 50px;
}

#formLI{
  margin-top: 2%;
  color: white;
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

#logInBtn{
  background-color: #0F2027;
  border-color: #0F2027;
  color: white;
  width: 14%;
  margin-left: 31%;
}

/*Profile*/

#userInfo{
  display: flex;
  flex-direction: row;
}

#divProfile{
  display: flex !important;
  flex-direction: column;
}

#h3Pr{
  color: white;
  margin-top: 2%;
  margin-bottom: 3%;
  font-size: 3em;
  justify-content: start;
}

#profAvatar{
  justify-content: end;
  margin-top: 2%;
  margin-left: 50%;
}

.parProf{
  color: white;
  font-size: 1.5em;
  margin-top: -1%;
}

.card {
  margin: 50px;
}

.detBtn {
  background-color: #0F2027;
  border-color: #0F2027;
  color: white;
  margin-top: 6%;
}

#list-date{
  font-size: 20px;
  font-weight: 700;
}

#list-name{
  font-size: 30px;
  font-weight: 700;
}

/*DETAILS*/

#h3D{
  color: white;
  margin-top: 1%;
  font-size: 2em;
}

.h5D{
  color: white;
  font-size: 20px;
  line-height: 35px;;
}

.details{
  background-color: #04080a;
  border-color: #0F2027;
  color: white;
}

.contBts{
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

#detImg{
  margin-top: 1%;
  width: 50%;
  object-fit: cover;
  margin-left: 25%;
}

.description{
  text-align: justify;
  font-style: italic;
  color: white;
  width: 95%;
}

.link{
  text-decoration: none;
  color: white;
  
}

#socialMedia{
  display: flex;
  width: 95%;
  justify-content: space-between;
}

/*SEARCH*/
#searchBar {
  justify-content: center;
}

#h2S{
  color: white;
  margin-top: 3%;
  margin-left: 5%;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

#searchBar{
  margin-left: 5%;
}

.searchBt {
  background-color: #0F2027;
  border-color: #0F2027;
  color: white;
  height: 3.5%;
  margin-top: 2%;
}

#box{
  border-color: #0F2027;
  background-color: #0F2027;
  color: white;
}

/*SEARCH RESULTS*/  

.searchResBt {
  background-color: #184355;
  border-color: #0F2027;
  color: white;
}

#test{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#divInfo{
  margin-left: 5%;
}

.avatarImg{

  height: 80px; 
  border-radius: 50%; 
  border: 2px solid white;
}

/* add Event */

#addEvent{
  margin-top: 1%;
  margin-left: 27%;
}

#createBtn{
  margin-left: 29%;
}

/* edit Event */

#btnEdit{
  margin-left: 25%;
}


#detailsInfo{
  margin-left: 5%;
}

#erroSearch{
  margin-top: 1%;
  margin-left: 31%;
}